.light-theme {
    font-size: 16px;
    font-family: "Montserrat";
    --text-primary: #020202e0;
    --text-secondary: #020202e0;
    --button-primary: white;
    --button-secondary: #434eda;
    --accents: #b9732f;
    --bg-primary: #e7f0f9;
    --bg-secondary: #437fc7;
    --bg-tertiary: white;
    --bg-constant-backdrop: #e7f0f9;
    --bar-primary: lightblue;
    --bar-secondary: #e2d517;
    --bar-tertiary: #e04b37;
    --highlight-primary: #f5dcad;
}

.dark-theme {
    font-size: 16px;
    font-family: "Montserrat";
    --text-primary: white;
    --text-secondary: #f5f5f5;
    --button-primary: #434eda;
    --button-secondary: white;
    --accents: #b9732f;
    --bg-primary: #0c7ef0;
    --bg-secondary: #434eda;
    --bg-tertiary: #272727;
    --bg-constant-backdrop: #e7f0f9;
    --bar-primary: #434eda;
    --bar-secondary: #e4e73d;
    --bar-tertiary: #e43206;
    --highlight-primary: #434eda;
}
