:root {
    font-size: 16px;
    font-family: "Montserrat";
    --transition-speed: 600ms;
    --page-content-width-desktop: 60vw;
    --page-content-width-mobile: 90vw;
}



//Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

