@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animateLogo {
  from {
    transform: translateX(-100px) translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0px) translateY(0px);
    opacity: 0.8;
  }
}

@keyframes animLine {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: var(--text-light);
  }
}

@media only screen and (max-width: 600px) {
  .jumbotron {
    display: block;
    background-color: var(--bg-secondary);
    width: 100%;
    height: 50vh;
  }

  .jumbotron-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--page-content-width-mobile);
    margin: 0 auto 0 auto;
    height: 100%;
  }

  .jumbotron-splash-container {
    position: absolute;
    z-index: 0;
    width: 30vh;
  }

  .jumbotron-main-text {
    width: var(--page-content-width-mobile);
    z-index: 1;
  }

  @for $i from 1 through 9 {
    .jumbotron-main-text svg path:nth-child(#{$i}) {
      stroke-dasharray: 900;
      stroke-dashoffset: 900;
      animation: animLine ease 2s 1s forwards, fill 2s 2.4s forwards;
    }
  }

  .jumbotron-sub-text {
    opacity: 0;
    color: var(--text-light);
    font-size: 1rem;
    z-index: 1;
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    animation-delay: 0.7s;
    -webkit-animation-delay: 0.7s;
    animation-fill-mode: forwards;
  }

  .jumbotron-splash-container #logo {
    animation-name: animateLogo;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}

/* Large screens */

@media only screen and (min-width: 600px) {
  .jumbotron {
    display: block;
    background-color: var(--bg-secondary);
    z-index: -1;
    width: 100%;
    height: 60vh;
    clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0 75%, 0 0);
  }

  .jumbotron-splash-container {
    opacity: 0;
    position: absolute;
    left: 60vw;
    top: 11vh;
    z-index: 0;
    width: 30vh;
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    animation-delay: 0.7s;
    -webkit-animation-delay: 0.7s;
    animation-fill-mode: forwards;
  }

  .jumbotron-splash-container #logo {
    opacity: 0;
  }

  .jumbotron-splash-container:hover #logo {
    animation-name: animateLogo;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  .jumbotron-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: var(--page-content-width-desktop);
    margin: 0 auto 0 auto;
    height: 100%;
  }

  .jumbotron-main-text {
    width: 30vw;
    z-index: 1;
  }

  @for $i from 1 through 9 {
    .jumbotron-main-text svg path:nth-child(#{$i}) {
      stroke-dasharray: 900;
      stroke-dashoffset: 900;
      animation: animLine ease 2s 1s forwards, fill 2s 2.4s forwards;
    }
  }

  .jumbotron-sub-text {
    opacity: 0;
    margin-right: 25vw;
    color: var(--text-light);
    font-weight: 350;
    z-index: 1;
    font-size: 1.5rem;
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    animation-delay: 0.7s;
    -webkit-animation-delay: 0.7s;
    animation-fill-mode: forwards;
  }
}
