@media only screen and (max-width: 600px) {
    .skills-tab-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: var(--page-content-width-mobile);
        margin: 2rem auto 2rem auto;
    }
    .skills-image-item {
        height: auto;
        width: auto;
        margin-left: 1rem;
        margin-right: 1.5rem;
        margin-bottom: 2rem;
        max-width: 200px;
        max-height: 60px;
    }
    .ant-tabs-nav-scroll {
        display: flex;
        justify-content: center;
        padding: 0;
        /* width: auto; */
    }
}

/* Large screens */

@media only screen and (min-width: 600px) {
    .skills-tab-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: var(--page-content-width-desktop);
        margin: 2rem auto 2rem auto;
    }

    .skills-image-item {
        background-color: white;
        height: auto;
        width: auto;
        margin-left: 1rem;
        margin-right: 1.5rem;
        margin-bottom: 2rem;
        max-width: 200px;
        max-height: 80px;
    }

    .ant-tabs-tabpane-inactive {
        opacity: 0;
        visibility: visible;
    }

    /* .skills-image-item:nth-child(n) {
        animation: fadeIn ease 2s * n;
        -webkit-animation: fadeIn ease 2s * n;
    } */

    .ant-tabs-nav-scroll {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        /* width: var(--page-content-width-desktop); */
        /* width: auto; */
    }
}