@import '~antd/dist/antd.css';
@import 'home.scss';
@import 'footer.scss';
@import 'navbar.scss';
@import 'tab-bar.scss';
@import 'about-me.scss';
@import 'grid.scss';
@import 'skills-tab.scss';
@import 'sorting.scss';

:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-dark: #020202e0;
    --text-light: white;
    --accents: #B9732F;
    --bg-secondary: #437FC7;
    --bg-primary: #6DAFFE;
    --bg-tertiary: #EDF6FF;
    --navbar-text-primary: #b6b6b6;
    --navbar-text-secondary: #ececec;
    --navbar-primary: #23232e;
    --navbar-secondary: #141418;
    --transition-speed: 600ms;
    --page-content-width-desktop: 60vw;
    --page-content-width-mobile: 90vw;
}



@media only screen and (max-width: 600px) {
    .root-container {
        padding: 0;
        margin: 0;
    }

    .header-text {
        width: fit-content;
        margin: auto;
        font-size: 1.5em;
    }
}

/* Large screens */

@media only screen and (min-width: 600px) {
    .root-container {
        padding: 0;
        margin: 0;
    }
    .page-container {
        margin-left: 5rem;
    }

    .header-text {
        width: fit-content;
        margin: auto;
        font-size: 2em;
    }
}