@import '~antd/dist/antd.css';
@import 'home.scss';
@import 'footer.scss';
@import 'navbar.scss';
@import 'about-me.scss';
@import 'card.scss';
@import 'skills-tab.scss';
@import 'sorting.scss';
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-dark: #020202e0;
    --text-light: white;
    --accents: #B9732F;
    --bg-secondary: #437FC7;
    --bg-primary: #6DAFFE;
    --bg-tertiary: #EDF6FF;
    --navbar-text-primary: #b6b6b6;
    --navbar-text-secondary: #ececec;
    --navbar-primary: #23232e;
    --navbar-secondary: #141418;
    --transition-speed: 600ms;
    --page-content-width-desktop: 60vw;
    --page-content-width-mobile: 90vw;
}

.light-theme {
    font-size: 16px;
    font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --text-primary: #020202e0;
    --text-secondary: #595959;
    --accents: #B9732F;
    --bg-secondary: #437FC7;
    --bg-primary: #6DAFFE;
    --bg-tertiary: white;
    --highlight-primary: #e5eeff;
    --navbar-text-primary: #b6b6b6;
    --navbar-text-secondary: #ececec;
    --navbar-primary: #23232e;
    --navbar-secondary: #141418;
    --transition-speed: 600ms;
    --page-content-width-desktop: 60vw;
    --page-content-width-mobile: 90vw;
}

.dark-theme {
    font-size: 16px;
    font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --text-primary: white;
    --text-secondary:#f5f5f5;
    --accents: #B9732F;
    --bg-secondary: #242582;
    --bg-primary: #40a9ff;
    --bg-tertiary: #272727;
    --highlight-primary: #391085;
    --navbar-text-primary: #b6b6b6;
    --navbar-text-secondary: #ececec;
    --navbar-primary: #23232e;
    --navbar-secondary: #141418;
    --transition-speed: 600ms;
    --page-content-width-desktop: 60vw;
    --page-content-width-mobile: 90vw;
}

/* Small screens */

@media only screen and (max-width: 600px) {
    .root-container {
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .page-container {
        background-color: var(--bg-tertiary);
        transition: background 500ms ease-in-out, color 1000ms ease-in-out;
    }

    .header-text {
        width: fit-content;
        margin: auto;
        font-size: 1.5em;
        color: var(--text-primary);
    }

    .slider-label {
        font-size: 0.8em;
        color: var(--text-primary);
        transition: color 1000ms ease-in-out;
    }

    .paragraph-text {
        width: fit-content;
        margin: auto;
        color: var(--text-primary);
    }
}

/* Large screens */

@media only screen and (min-width: 600px) {
    .root-container {
        padding: 0;
        margin: 0;
    }

    .page-container {
        background-color: var(--bg-tertiary);
        margin-left: 5rem;
        transition: background 500ms ease-in-out, color 1000ms ease-in-out;
    }

    .page-layout-container {
        width: var(--page-content-width-desktop);
        margin: 0 auto 0 auto;
        color: var(--text-primary);
        transition: color 1000ms ease-in-out;
    }

    .header-text {
        width: fit-content;
        // margin: auto;
        margin: 15vh auto 4vh auto;
        font-size: 2em;
        color: var(--text-primary);
        transition: color 1000ms ease-in-out;
    }

    .slider-label {
        font-size: 1em;
        color: var(--text-primary);
        transition: color 1000ms ease-in-out;
    }

    .paragraph-text {
        width: fit-content;
        margin: auto;
        font-size: 1.4em;
        color: var(--text-primary);
        transition: color 1000ms ease-in-out;
    }

    .p5-canvas {

        height: 500px;
        margin: 5em auto 5em auto;
        width: 700px;
    }

}