@media only screen and (max-width: 600px) {
    .footer {
        &-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 10vh;
            margin-bottom: 10vh;
        }

        &-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 1.6em;
        }

        &-logo-container {
            width: 6em;
        }
    }
}

/* Large screens */

@media only screen and (min-width: 600px) {
    .footer {
        &-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 10vh;
            margin-bottom: 10vh;
        }

        &-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 1.6em;
        }

        &-logo-container {
            width: 6em;
        }
    }
}